*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks

# Android Studio
*.iws
*.out
/captures
/google-services.json

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Keystore files
*.keystore

# Built variants
**/build/
